@model DraftViewModel

@{
    ViewBag.Title = "Edit";
    Layout = null;

    var rules = new List<string>();
    rules.Add("Stories must have a minimum of 500 characters.");
    rules.Add("Poems must have a minimum of 100 characters.");
    rules.Add("Prompts must be between 50 and 500 characters long.");
    rules.Add("Plagiarism will result in a ban");
    rules.Add("No immature / sexually explicit content");
    rules.Add("Avoid racism and political debates");
    rules.Add("Avoid detailed uses of suicide, and mental health stereotypes");
}

<div class="container">
    <div class="main-body">
        <form id="draft-edit-formdata" asp-controller="Drafts" asp-action="Edit">
            <div class="row justify-content-center">
                <div class="col card-body form-body">
                    <h2 align="center"><i class="fas fa-edit"></i> Edit @Model.TypeName</h2>
                    <hr />
                    <table class="mb-3 table-fixed w-100" align="center">
                        <tr>
                            <td class="border-cut bg-secondary p-2">
                                <h4 class="text-center">Rules</h4>
                                <ul>
                                    @foreach (var rule in rules)
                                    {
                                        <li>@rule</li>
                                    }
                                </ul>
                            </td>
                        </tr>
                    </table>
                    @{
                        if (Model.Prompt != null)
                        {
                            <label asp-for="Prompt" class="form-label"></label><br />
                            <table class="mb-3 table-fixed">
                                <tr>
                                    <td class="border-cut bg-secondary p-2">
                                        <p>@Model.Prompt</p>
                                    </td>
                                </tr>
                            </table>
                        }
                    }
                    <div class="form-group">
                        <label asp-for="GenreIds" class="form-label"></label><br />
                        <select asp-for="GenreIds" class="selectpicker form-control edges" multiple data-max-options="3">
                            @{
                                if (Model.GenreIds != null)
                                {
                                    @foreach (var genre in Model.Genres)
                                    {
                                        if (Model.GenreIds.Contains(genre.Id))
                                        {
                                            <option selected value="@genre.Id">@genre.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@genre.Id">@genre.Name</option>
                                        }
                                    }
                                }
                                else
                                {
                                    @foreach (var genre in Model.Genres)
                                    {
                                        <option value="@genre.Id">@genre.Name</option>
                                    }
                                }
                            }
                        </select>
                        <span asp-validation-for="GenreIds" class="small text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Title"></label>
                        <input asp-for="Title" class="form-control" placeholder="The title of your story..." id="title-content">
                        <span asp-validation-for="Title" class="small text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Content"></label>
                        <textarea asp-for="Content" rows="6" class="form-control" placeholder="The story itself..." id="content-content"></textarea>
                        <span asp-validation-for="Content" class="small text-danger"></span>
                    </div>
                </div>
                <div class="form-footer">
                    <div class="text-secondary" align="center">
                        <a onclick="refer('draft-edit-formdata')" class="btn btn-outline-primary"><i class="fal fa-save"></i> Save Changes</a>
                        <button class="btn btn-outline-dark" type="button" onclick="cancelModal()"><i class="fal fa-times"></i> Cancel</button>
                    </div>
                </div>
                <div class="form-group d-none">
                    <input asp-for="Id" class="form-control" hidden>
                </div>
                <div class="form-group d-none">
                    <input asp-for="TypeId" class="form-control" hidden>
                </div>
                <div class="form-group d-none">
                    <input asp-for="Prompt" class="form-control" hidden>
                </div>
                <div class="form-group d-none">
                    <input asp-for="TypeName" class="form-control" hidden>
                </div>
            </div>
        </form>
    </div>
</div>
