@model CreateThreadFormModel

@{
    ViewBag.Title = "Create";

    var draftIcon = "";
    var rules = new List<string>();
    rules.Add("Avoid plagiarism");
    rules.Add("Avoid racism");
    rules.Add("Avoid sexually explicit content");
    rules.Add("Avoid political debates");
    rules.Add("Avoid detailed uses of suicide");
    rules.Add("Avoid mental health stereotypes");

    var titleLength = Model.Title != null ? Model.Title.Length : 0;
}

<div class="container-fluid">
    <div class="row">
        <div class="col pl-0 pr-1 pb-0 pt-0">
            <table class="table separate-border">
                <tbody class="gray-stripes">
                    <tr>
                        <td class="border-black">
                            <div class="mb-3">
                                <ul class="list-inline">
                                    <li class="list-inline-item"><h4>Create @Model.Type</h4></li>
                                    <li class="list-inline-item float-right"><h5><a onclick="popUp('/drafts/all/', 'drafts', null, null, '@Model.TypeId')" class="btn-link">Drafts<span id="draft-count" class="badge badge-secondary">@Model.Drafts.Count()</span></a></h5></li>
                                </ul>
                            </div>
                            <form asp-controller="Threads" asp-action="Create" method="post">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input asp-for="Title" type="text"
                                               maxlength="80"
                                               id="title-content"
                                               class="form-control border-black"
                                               placeholder="Title"
                                               aria-describedby="title-limit"
                                               onchange="countCharacters('title-count', 'title-content', 80)"
                                               onkeypress="countCharacters('title-count', 'title-content', 80)"
                                               onkeyup="countCharacters('title-count', 'title-content', 80)"
                                               onpaste="countCharacters('title-count', 'title-content', 80)"
                                               oninput="countCharacters('title-count', 'title-content', 80)">
                                        <div class="input-group-append">
                                            <span class="input-group-text border-black" id="title-count">@titleLength / 80</span>
                                        </div>
                                    </div>
                                    <span asp-validation-for="Title" class="small text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <div class="wrapper">
                                        <a onclick="insertAtCursor('content-content', '<strong></strong>')" class="icon github border-black">
                                            <div class="tooltip">Bold</div>
                                            <span><i class="fal fa-bold"></i></span>
                                        </a>
                                        <a onclick="insertAtCursor('content-content', '<i></i>')" class="icon github border-black">
                                            <div class="tooltip">Italics</div>
                                            <span><i class="fal fa-italic"></i></span>
                                        </a>
                                        <a onclick="insertAtCursor('content-content', '<h4></h4>')" class="icon github border-black">
                                            <div class="tooltip">Heading</div>
                                            <span><i class="fal fa-heading"></i></span>
                                        </a>
                                        <a onclick="insertAtCursor('content-content', '<del></del>')" class="icon github border-black">
                                            <div class="tooltip">Strikethrough</div>
                                            <span><i class="fal fa-strikethrough"></i></span>
                                        </a>
                                        <a onclick="insertAtCursor('content-content', '<u></u>')" class="icon github border-black">
                                            <div class="tooltip">Underline</div>
                                            <span><i class="fal fa-underline"></i></span>
                                        </a>
                                        <a onclick="insertAtCursor('content-content', '<mark></mark>')" class="icon github border-black">
                                            <div class="tooltip">Highlight</div>
                                            <span><i class="fal fa-highlighter"></i></span>
                                        </a>
                                        <a onclick="insertAtCursor('content-content', '<sub></sub>')" class="icon github border-black">
                                            <div class="tooltip">Subscript</div>
                                            <span><i class="fal fa-subscript"></i></span>
                                        </a>
                                        <a onclick="insertAtCursor('content-content', '<sup></sup>')" class="icon github border-black">
                                            <div class="tooltip">Superscript</div>
                                            <span><i class="fal fa-superscript"></i></span>
                                        </a>
                                    </div>
                                    <textarea asp-for="Content" rows="6" class="form-control border-black" placeholder="Text" id="content-content"></textarea>
                                    <span asp-validation-for="Content" class="small text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="GenreIds" class="form-label"></label><a class="btn-link float-right"><i class="fal fa-question-circle"></i> Have questions about the genres ?</a><br />
                                    <select asp-for="GenreIds" class="selectpicker form-control border-black" id="genre-content" multiple data-max-options="3">
                                        @{
                                            if (Model.GenreIds != null)
                                            {
                                                @foreach (var genre in Model.Genres)
                                                {
                                                    if (Model.GenreIds.Contains(genre.Id))
                                                    {
                                                        <option selected value="@genre.Id">@genre.Name</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@genre.Id">@genre.Name</option>
                                                    }
                                                }
                                            }
                                            else
                                            {
                                                @foreach (var genre in Model.Genres)
                                                {
                                                    <option value="@genre.Id">@genre.Name</option>
                                                }
                                            }
                                        }
                                    </select>
                                    <span asp-validation-for="GenreIds" class="small text-danger"></span>
                                </div>
                                <div class="form-group d-none">
                                    <input asp-for="TypeId" class="form-control" hidden>
                                </div>
                                <div class="form-group d-none">
                                    <input asp-for="Type" class="form-control" hidden>
                                </div>
                                <div class="text-secondary text-right mt-4">
                                    <div class="dropdown d-inline">
                                        <a class="btn btn-sm btn-outline-info dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fal fa-save"></i> Save as draft
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <a onclick="saveDraft(getValue('title-content'), getValue('content-content'), getValue('genre-content'), '@Model.TypeId', null)" class="dropdown-item"><i class="fal fa-layer-plus"></i> New</a>
                                            @if (Model.Drafts.Any())
                                            {
                                                <div class="dropdown-divider"></div>
                                                @foreach (var draft in Model.Drafts)
                                                {
                                                    switch (draft.TypeId)
                                                    {
                                                        case 1:
                                                            {
                                                                draftIcon = "fa-book";
                                                                break;
                                                            }
                                                        case 2:
                                                            {
                                                                draftIcon = "fa-scroll";
                                                                break;
                                                            }
                                                        default:
                                                            break;
                                                    }
                                                    <a class="dropdown-item" onclick="saveDraft(getValue('title-content'), getValue('content-content'), getValue('genre-content'), '@Model.TypeId', '@draft.Id')"><i class="fal @draftIcon"></i> @draft.Title <span class="badge badge-info">@draft.CreatedOn</span></a>
                                                }
                                            }
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-sm btn-outline-primary"><i class="fal fa-plus"></i> Post</button>
                                </div>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-4 pl-1 pr-0 pb-0 pt-0 sidebar">
            <table class="table separate-border" align="center">
                <tbody class="gray-stripes">
                    <tr>
                        <td class="border-black">
                            <h4 class="pt-2 text-center"><i class="fal fa-shield"></i> Before Posting</h4>
                            <hr class="w-75" />
                            <ul class="list-group list-group-flush">
                                @{
                                    int n = 0;
                                    foreach (var rule in rules)
                                    {
                                        n++;
                                        <li class="pl-0 pr-0 list-group-item bg-transparent">@(n + "." + " " + rule)</li>
                                    }
                                }
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



