@model ThreadViewModel
@{
    ViewBag.Title = Model.Title != null ? Model.Title : "Prompt";
    var user = await this.userManager.GetUserAsync(User);
    var userId = user == null ? null : user.Id;
    var avatarUrl = Model.AuthorAvatarUrl == null ? "https://i.imgur.com/Q67mO1m.png" : Model.AuthorAvatarUrl;
    var textType = Model.TypeId == 1 ? "story" : "poem";
    //comment
}

<div class="container-fluid" id="read-container">
    <div class="card">
        <div class="card-body border-black gray-stripes">
            <table class="w-100 mb-4 table-fixed separate-border">
                <thead class="invisible">
                    <tr>
                        <th class="text-truncate w-10" scope="col"></th>
                        <th class="text-truncate" scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th colspan="2" class="border-black bg-gray">
                            <div class="media flex-wrap w-100 align-items-center media-img-40 p-2">
                                <a onclick="popUp('/Users/Peek/','peek-profile', null, '@Model.AuthorName')"><img src="@avatarUrl" class="d-block ui-w-40 rounded-circle border"></a>
                                <div class="media-body ml-2 mw-150p">
                                    <a class="btn-link" onclick="popUp('/Users/Peek/','peek-profile', null, '@Model.AuthorName')">@Model.AuthorName</a>
                                    <div class="small">@Model.CreatedOn</div>
                                </div>
                                <div class="small mr-1 ml-auto">
                                    <div>Member since <strong>@Model.AuthorRegisteredOn</strong></div>
                                    <div><strong>@Model.AuthorThreadCount</strong> posts</div>
                                </div>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <td colspan="2" class="border-black">
                            <div class="mh-600 p-4" id="content-body">
                                <h3 class="text-center" id="thread-title">@Model.Title</h3>
                                <hr class="w-75" />
                                <div class="@textType content-text">@Html.Raw(@Model.Content)</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th colspan="2" class="border-black bg-gray">
                            <div class="media align-items-center p-2">
                                <div id="thread-likes-section">
                                    <partial name="_ThreadLikesPartial" model="@Model" />
                                </div>
                                <div class="ml-auto mr-0 btn-group">
                                    @if (userId == Model.AuthorId)
                                    {
                                        <div class="zoom p-2"><a class="btn-link" onclick="popUp('/Threads/Edit/', 'thread-edit', null, '@Model.Id')"><i class="fas fa-lg big-icon fa-edit"></i></a></div>
                                        <div class="zoom p-2"><a class="btn-link" onclick="deletePopup('@Model.Id', '/Threads/Delete/')"><i class="fas fa-lg big-icon fa-trash"></i></a></div>
                                    }
                                    @{
                                        if (userId != null)
                                        {
                                            <div class="zoom p-2"><a onclick="showCommentRow()" class="btn-link"><i class="fas fa-lg big-icon fa-reply"></i></a></div>
                                            <div class="zoom p-2"><a class="btn-link" asp-controller="Threads" asp-action="Report" asp-route-threadId="@Model.Id"><i class="fas fa-lg big-icon fa-flag"></i></a></div>
                                        }
                                        else
                                        {
                                            <div class="zoom p-2"><a onclick="popUp('/Authentication/Login/', 'auth', '@Context.Request.GetDisplayUrl()')" class="btn-link"><i class="fas fa-lg big-icon fa-reply"></i></a></div>
                                            <div class="zoom p-2"><a class="btn-link" onclick="popUp('/Authentication/Login/', 'auth', '@Context.Request.GetDisplayUrl()')"><i class="fas fa-lg big-icon fa-flag"></i></a></div>
                                        }
                                    }
                                    <div class="zoom p-2"><a class="btn-link" onclick="changeArrow('fold-arrow', 'content-body', 'mh-600')"><i id="fold-arrow" class="fas fa-lg big-icon fa-arrow-down"></i></a></div>
                                </div>
                            </div>
                        </th>
                    </tr>
                </tbody>
            </table>
            <hr />
            <div id="comment-section">
                <partial name="_CommentsPartial" model="@Model" />
            </div>
        </div>
    </div>
</div>