@model ThreadViewModel
@{
    ViewBag.Title = Model.Title;
    var user = await this.userManager.GetUserAsync(User);
    var avatarUrl = user == null ? "https://i.imgur.com/Q67mO1m.png" : user.AvatarUrl;
}

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header">
                    <div class="media flex-wrap w-100 align-items-center">
                        <img src="@Model.AuthorAvatarUrl" class="d-block ui-w-40 rounded-circle">
                        <div class="media-body ml-3">
                            <a asp-controller="Users" asp-action="Profile" asp-route-username="@Model.AuthorName">@Model.AuthorName</a>
                            <div class="text-muted small">@Model.CreatedOn</div>
                        </div>
                        <div class="text-muted small ml-3">
                            <div>Member since <strong>@Model.AuthorRegisteredOn</strong></div>
                            <div><strong>@Model.AuthorThreadCount</strong> posts</div>
                        </div>
                    </div>
                </div>
                <div class="card-body mh-600" id="content-body">
                    <div class="flex-wrap text-center">
                        <h3>@Model.Title</h3>
                    </div>
                    <hr />
                    <span class="content-text">@Model.Content</span>
                </div>
                <div class="card-footer d-flex flex-wrap justify-content-start align-items-start px-0 pt-0 pb-3">
                    <div class="px-4 pt-3">
                        <a class="btn btn-success btn-sm">+</a>
                        <span class="ml-1 mr-1">@Model.Points</span>
                        <a class="btn btn-danger btn-sm">-</a>
                    </div>
                    <div class="px-4 pt-3 media-img-30 align-end">
                        <a class="d-inline-flex btn btn-secondary" onclick="changeScreen()">
                            <span id="fold-button" value="unfold">unfold</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="container-fluid card" id="comment-section">
                <partial name="_CommentsPartial" model="@Model" />
            </div>
        </div>
    </div>
</div>