@model ThreadViewModel
@{
    ViewBag.Title = Model.Title;
    var user = await this.userManager.GetUserAsync(User);
    var userId = user == null ? null : user.Id;
    var avatarUrl = Model.AuthorAvatarUrl == null ? "https://i.imgur.com/Q67mO1m.png" : Model.AuthorAvatarUrl;
}

<div class="container-fluid mt-4" id="read-container">
    <div class="row">
        <div class="col">
            <div class="card mb-4">
                <div class="card-header border-nobottom bg-secondary">
                    <div class="media flex-wrap w-100 align-items-center media-img-40">
                        <img src="@avatarUrl" class="d-block ui-w-40 rounded-circle border">
                        <div class="media-body ml-3 mw-120p">
                            <a onclick="viewProfile('@Model.AuthorId')">@Model.AuthorName</a>
                            <div class="text-muted small">@Model.CreatedOn</div>
                        </div>
                        <div class="text-muted small mr-1 ml-auto">
                            <div>Member since <strong>@Model.AuthorRegisteredOn</strong></div>
                            <div><strong>@Model.AuthorThreadCount</strong> posts</div>
                        </div>
                    </div>
                </div>
                <div class="card-body border mh-600" id="content-body">
                    <div class="flex-wrap text-center">
                        <h3 id="thread-title">@Model.Title</h3>
                    </div>
                    <hr />
                    <span id="thread-content" class="content-text">@Model.Content</span>
                </div>
                <div class="card-footer border-notop justify-content-center align-items-center d-flex flex-wrap px-0 pt-0 pb-3">
                    <div class="ml-3 mr-auto mt-3" id="thread-likes-section">
                        <partial name="_ThreadLikesPartial" model="@Model" />
                    </div>
                    <div class="btn-group align-end mr-3 ml-auto mt-3" role="group" aria-label="Basic example">
                        @if (userId == Model.AuthorId)
                        {
                            <div class="zoom"><a class="btn btn-link" onclick="editPopup('@Model.Id', '/Threads/Edit/')"><i class="fas fa-lg big-icon fa-pencil-alt"></i></a></div>
                            <div class="zoom"><a class="btn btn-link" onclick="deletePopup('@Model.Id', '/Threads/Delete/')"><i class="fas fa-lg big-icon fa-trash-alt"></i></a></div>
                        }
                        <div class="zoom"><a class="btn btn-link" asp-controller="Threads" asp-action="Report" asp-route-threadId="@Model.Id"><i class="fas fa-lg big-icon fa-flag"></i></a></div>
                        <div class="zoom"><a class="btn btn-link" onclick="changeArrow()"><i id="fold-arrow" class="fas fa-lg big-icon fa-arrow-down"></i></a></div>
                    </div>
                    <hr class="row w-100 bg-black" />
                    <div class="row w-100">
                        <div class="col" id="comment-section">
                            <partial name="_CommentsPartial" model="@Model" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>