@model ThreadViewModel
@{
    ViewBag.Title = Model.Title;
    var user = await this.userManager.GetUserAsync(User);
    var userId = user == null ? null : user.Id;
    var avatarUrl = Model.AuthorAvatarUrl == null ? "https://i.imgur.com/Q67mO1m.png" : Model.AuthorAvatarUrl;
}

<div class="container-fluid">
    <div class="card">
        <div class="card-body border gray-stripes">
            <table class="w-100">
                <tbody>
                    <tr>
                        <th class="border bg-tablehead-gray">
                            <div class="media flex-wrap w-100 align-items-center media-img-40 p-2">
                                <a onclick="popUp('/Users/Peek/','peek-profile', null, null, null, null, '@Model.AuthorName')"><img src="@avatarUrl" class="d-block ui-w-40 rounded-circle border"></a>
                                <div class="media-body ml-2 mw-120p">
                                    <a class="btn-link" onclick="popUp('/Users/Peek/','peek-profile', null, null, null, null, '@Model.AuthorName')">@Model.AuthorName</a>
                                    <div class="small">@Model.CreatedOn</div>
                                </div>
                                <div class="small mr-1 ml-auto">
                                    <div>Member since <strong>@Model.AuthorRegisteredOn</strong></div>
                                    <div><strong>@Model.AuthorThreadCount</strong> posts</div>
                                </div>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <td class="border" id="content-body">
                            <h3 class="text-center pt-3" id="thread-title">@Model.Title</h3>
                            <hr class="w-75" />
                            <p id="thread-content" class="content-text p-3">@Model.Content</p>
                        </td>
                    </tr>
                    <tr>
                        <th class="border bg-tablehead-gray">
                            <div class="media align-items-center p-2">
                                <div id="thread-likes-section">
                                    <partial name="_ThreadLikesPartial" model="@Model" />
                                </div>
                                <div class="ml-auto mr-0 btn-group">
                                    @if (userId == Model.AuthorId)
                                    {
                                        <div class="zoom p-2"><a class="btn-link" onclick="popUp('/Threads/Edit/', 'thread-edit', null, null, null, null, '@Model.Id')"><i class="fal fa-lg big-icon fa-pencil"></i></a></div>
                                        <div class="zoom p-2"><a class="btn-link" onclick="deletePopup('@Model.Id', '/Threads/Delete/')"><i class="fal fa-lg big-icon fa-trash"></i></a></div>
                                    }
                                    <div class="zoom p-2"><a class="btn-link" asp-controller="Threads" asp-action="Report" asp-route-threadId="@Model.Id"><i class="fal fa-lg big-icon fa-flag"></i></a></div>
                                    <div class="zoom p-2"><a class="btn-link" onclick="changeArrow()"><i id="fold-arrow" class="fal fa-lg big-icon fa-arrow-down"></i></a></div>
                                </div>
                            </div>
                        </th>
                    </tr>
                </tbody>
            </table>
            <div class="text-center p-1">
                <a class="btn-link"><i class="fal fa-comments-alt"></i> [SHOW COMMENTS]</a>
            </div>
            <div class="w-100" id="comment-section">
                <partial name="_CommentsPartial" model="@Model" />
            </div>
        </div>
    </div>
</div>