@model List<GenresBrowseModel>
@{
    ViewBag.Title = "Genres";
}
<div class="container-fluid mt-5 mb-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card border mb-3">
                <div class="card-header pr-0 pl-0">
                    <div class="row no-gutters align-items-center w-100">
                        <div class="col font-weight-bold pl-3">[Genre]</div>
                        <div class="d-none d-md-block col-6">
                            <div class="row no-gutters align-items-center">
                                <div class="col-3 font-weight-bold">[Threads]</div>
                                <div class="col-6 ml-5 font-weight-bold">[Last entry]</div>
                            </div>
                        </div>
                    </div>
                </div>
                @{
                    foreach (var genre in Model)
                    {
                        <div class="card-body py-3">
                            <div class="row no-gutters align-items-center">
                                <div class="col">
                                    <a asp-controller="Genres" asp-action="Browse" asp-route-categoryId="@genre.Id" class="text-big font-weight-semibold" data-abc="true">
                                        @genre.Name
                                    </a>
                                </div>
                                <div class="tooltip mr-350 hide-sm zoom">
                                    <a onclick="categoryInfo(@genre.Id)"><i class="info-circle fas fa-info-circle"></i></a>
                                    <span class="tooltiptext">@genre.Description</span>
                                </div>
                                <div class="d-none d-md-block col-6">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-3 ml-2">@genre.ThreadCount</div>
                                        @{ if (genre.LastEntry != null)
                                            {
                                                var avatar = "";
                                                if (!String.IsNullOrWhiteSpace(genre.LastEntry.AuthorAvatarUrl)) avatar = genre.LastEntry.AuthorAvatarUrl;
                                                else avatar = "https://image.flaticon.com/icons/png/512/64/64572.png";
                                                <div class="media col-6 ml-5 align-items-center media-img-40">
                                                    <img src="@avatar" class="d-block ui-w-30 rounded-circle border">
                                                    <div class="media-body flex-truncate ml-2">
                                                        <a asp-controller="Threads" asp-action="Read" asp-route-threadId="@genre.LastEntry.Id" class="d-block text-truncate">@genre.LastEntry.Title</a>
                                                        <div class="text-muted small text-truncate">@genre.LastEntry.CreatedOn &nbsp;·&nbsp; <a onclick="viewProfile('@genre.LastEntry.AuthorId')" class="text-muted">@genre.LastEntry.AuthorName</a></div>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="media col-6 ml-5 align-items-center">
                                                    <img src="https://image.flaticon.com/icons/png/512/42/42901.png" class="d-block ui-w-30 rounded-circle" />
                                                    <div class="media-body flex-truncate ml-2">
                                                        Such empty...
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                     <hr class="m-0">
                    }
                }
            </div>
        </div>
    </div>
</div>
