@model ThreadViewModel
@{
    var user = await this.userManager.GetUserAsync(User);
    var avatar = "";
    var userId = user == null ? null : user.Id;
    if (user != null) avatar = String.IsNullOrWhiteSpace(user.AvatarUrl) ? "https://image.flaticon.com/icons/png/512/64/64572.png" : user.AvatarUrl;
    else avatar = "https://image.flaticon.com/icons/png/512/64/64572.png";
}

<table class="w-100 table-fixed separate-border">
    <thead class="invisible">
        <tr>
            <th class="text-truncate w-15" scope="col"></th>
            <th class="text-truncate" scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr id="comment-row" class="d-none">
            <td colspan="2">
                <div class="pt-2 pb-2">
                    @{
                        if (user != null)
                        {
                            <div class="d-flex flex-row align-items-start media-img-40">
                                <textarea type="text" rows="1"
                                          style="resize: none;"
                                          maxlength="2000"
                                          class="form-control ml-1 shadow-none edges"
                                          placeholder="Add a public comment..."
                                          id="comment-content"
                                          onchange="checkIfEmpty(), countCharacters('comment_count', 'comment-content', 2000)"
                                          onkeypress="checkIfEmpty(), countCharacters('comment_count', 'comment-content', 2000)"
                                          oninput="checkIfEmpty(), countCharacters('comment_count', 'comment-content', 2000)"
                                          onkeyup="countCharacters('comment_count', 'comment-content', 2000)"
                                          onpaste="checkIfEmpty(), countCharacters('comment_count', 'comment-content', 2000)"
                                          onclick="showButtons()"></textarea>
                                <div class="input-group-append" id="counter-append">
                                    <span class="input-group-text edges" id="comment_count">0 / 2000</span>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="d-flex flex-row align-items-start media-img-40">
                                <textarea type="text" rows="1"
                                          style="resize: none;"
                                          maxlength="500"
                                          class="form-control ml-1 shadow-none edges"
                                          placeholder="Sign in to add a public comment..."
                                          disabled="disabled"></textarea>
                            </div>
                        }
                    }
                    <div class="mt-2 text-right" id="comment-buttons">
                        <a class="btn btn-sm btn-outline-info d-none mr-2" id="comment-button" onclick="comment('@Model.Id', getValue('comment-content'))">
                            <i class="fal fa-check"></i> COMMENT
                        </a>
                        <a class="btn btn-sm btn-outline-dark" id="cancel" onclick="hideCommentRow()">
                            <i class="fal fa-times"></i> CANCEL
                        </a>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th colspan="2" class="border-black bg-tablehead-gray">
                <div class="media flex-wrap w-100 align-items-center">
                    <h5 class="p-2 mt-2"><i class="fal fa-comments-alt"></i> Comments (@Model.Comments.Count())</h5>
                    <div class="dropdown ml-auto mr-0 p-2">
                        <a class="btn-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fal fa-sort"></i><span> [SORT]</span></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-link-text d-block"><a onclick="sort('@Model.Id', 'top')" class="btn-link" href="#"><i class="fas fa-sort-amount-up"></i><span> [top]</span> </a></li>
                            <li class="dropdown-link-text d-block"><a onclick="sort('@Model.Id', 'oldest')" class="btn-link" href="#"><i class="fas fa-sort-numeric-up-alt"></i><span> [oldest]</span> </a></li>
                            <li class="dropdown-link-text d-block"><a onclick="sort('@Model.Id', 'newest')" class="btn-link" href="#"><i class="fas fa-sort-numeric-down-alt"></i><span> [newest]</span> </a></li>
                        </ul>
                    </div>
                </div>
            </th>
        </tr>
            @{
                if (!Model.Comments.Any())
                {
                    <tr>
                        <th colspan="2" class="border-black text-center">
                            <h4 class="p-3 mt-auto mb-auto">Looks like the comment section is empty...</h4>
                        </th>
                    </tr>
                }
                else
                {
                    foreach (var comment in Model.Comments)
                    {
                        var authorAvatar = "";
                        authorAvatar = String.IsNullOrWhiteSpace(comment.AuthorAvatarUrl) ? "https://image.flaticon.com/icons/png/512/64/64572.png" : comment.AuthorAvatarUrl;
                        <tr>
                            <td colspan="2">
                                <strong><a class="btn-link" onclick="popUp('/Users/Peek/','peek-profile', null, '@comment.AuthorName')">@comment.AuthorName</a></strong>&nbsp;
                                <span>>>&nbsp;@comment.CreatedOn</span>
                                <a class="btn-link ml-2 d-inline"><i class="fal fa-reply"></i> [REPLY]</a>
                                <a class="btn-link ml-2 d-inline"><i class="fal fa-flag"></i> [REPORT]</a>
                                <a onclick="changeArrow('com-arrow@(comment.Id)', 'com@(comment.Id)', 'mh-145px')" class="btn-link ml-2 d-inline"><i id="com-arrow@(comment.Id)" class="fal fa-arrow-down"></i> [UNFOLD]</a>
                                @if (userId == comment.AuthorId)
                                {
                                <div class="float-right d-inline">
                                    <a onclick="popUp('/Comments/Edit/','comment-edit', null, '@comment.Id')" class="btn-link ml-2"><i class="fal fa-pencil"></i> [EDIT]</a>
                                    <a onclick="deletePopup('@comment.Id', '/Comments/Delete/')" class="btn-link ml-2"><i class="fal fa-trash"></i> [DELETE]</a>
                                </div>
                                }
                            </td>
                        </tr>
                        <tr>
                           <td align="center" class="border-black w-10 size-100">
                               <img src="@authorAvatar" class="size-100" />
                           </td>
                           <td class="border-black p-2" style="text-align:left; vertical-align:top;">
                               <div id="com@(comment.Id)" class="comment-box mh-145px">@comment.Content</div>
                           </td>
                        </tr>
                    }

                }
            }
    </tbody>
</table>