@model List<DraftViewModel>

<table class="table table-hover separate-border">
    <tbody class="gray-stripes">
        @{ if (Model.Any())
            {
                foreach (var draft in Model)
                {
                    switch (draft.TypeId)
                    {
                        case 1:
                            {
                                <tr id="@draft.Id">
                                    <td class="border-black p-0">
                                        <div class="pt-3 pl-3 pr-3">
                                            <span class="text-muted mr-1">Created <a tabindex="0" data-placement="top" role="button" data-toggle="popover" data-trigger="focus" data-content="@draft.FullDate" class="btn-link text-muted">@draft.CreatedOn</a></span>
                                            <div class="float-right">
                                                <a class="btn-link" onclick="popUp('/Drafts/Edit/', 'draft-edit', null, '@draft.Id', '@draft.TypeId')"><i class="fal fa-pencil"></i> [EDIT]</a>&nbsp;&nbsp;
                                                <a class="btn-link" onclick="deletePopup('@draft.Id', '/Drafts/Delete/')"><i class="fal fa-trash"></i> [DELETE]</a>&nbsp;&nbsp;
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="pb-4 pt-2 pl-3 pr-3">
                                            <span class="badge-pill badge-info">STORY</span>
                                            <a class="btn-link d-inline" onclick="popUp('/Threads/Create/', 'thread-draft', null, '@draft.Id', '@draft.TypeId')">
                                                @draft.Title
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                break;
                            }
                        case 2:
                            {
                                <tr id="@draft.Id">
                                    <td class="border-black p-0">
                                        <div class="pt-3 pl-3 pr-3">
                                            <span class="text-muted mr-1">Created <a tabindex="0" data-placement="top" role="button" data-toggle="popover" data-trigger="focus" data-content="@draft.FullDate" class="btn-link text-muted">@draft.CreatedOn</a></span>
                                            <div class="float-right">
                                                <a class="btn-link" onclick="popUp('/Drafts/Edit/', 'draft-edit', null, '@draft.Id', '@draft.TypeId')"><i class="fal fa-pencil"></i> [EDIT]</a>&nbsp;&nbsp;
                                                <a class="btn-link" onclick="deletePopup('@draft.Id', '/Drafts/Delete/')"><i class="fal fa-trash"></i> [DELETE]</a>&nbsp;&nbsp;
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="pb-4 pt-2 pl-3 pr-3">
                                            <span class="badge-pill badge-info">POEM</span>
                                            <a class="btn-link d-inline" onclick="popUp('/Threads/Create/', 'thread-draft', null, '@draft.Id', '@draft.TypeId')">
                                                @draft.Title
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                break;
                            }
                        default:
                            break;
                    }
                }
            }
            else
            {
                <tr>
                    <td class="border-black bg-secondary text-center">
                        <h4 class="p-3 mt-auto mb-auto">Looks like you don't have any drafts...</h4>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
