@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@{ 
    var user = await this.userManager.GetUserAsync(User);
    var avatar = "";
    if (user != null) avatar = String.IsNullOrWhiteSpace(user.AvatarUrl) ? "https://image.flaticon.com/icons/png/512/64/64572.png" : user.AvatarUrl;
    else avatar = "https://image.flaticon.com/icons/png/512/64/64572.png";
}

<ul class="navbar-nav">
    @if (user != null)
    {
        <li class="dropdown">
            <a class="dropdown-toggle media-img-40 btn-link layout-anchor" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img class="rounded-circle border" src="@avatar" alt="Avatar" /> <span class="caret">@user.UserName</span></a>
            <ul class="dropdown-menu">
                <li><a asp-controller="Users" asp-action="Browse" asp-route-userId="@user.Id" title="Profile"><span class="dropdown-link-text"><i class="fas fa-user-alt"></i> Profile</span></a></li>
                <li><a asp-controller="Users" asp-action="Manage" title="Manage"><span class="dropdown-link-text"><i class="fas fa-user-cog"></i> Manage</span></a></li>
                <li role="separator" class="dropdown-divider"></li>
                <li><a asp-controller="Users" asp-action="Logout" asp-route-returnUrl="@Context.Request.GetDisplayUrl()"><span class="dropdown-link-text"><i class="fas fa-sign-out-alt"></i> Logout</span></a></li>
            </ul>
        </li>
    }
    else
    {
<li>
    <a onclick="authGet('@Url.Content("/Authentication/Login/")' ,'@Context.Request.GetDisplayUrl()')" class="btn-link"><i class="user-icon fas fa-user-circle"></i><span> Login / Register</span></a>
</li>
    }
</ul>
