@model List<ThreadsBrowseModel>
@{
    var user = await this.userManager.GetUserAsync(User);
    var userId = user == null ? null : user.Id;
    var avatar = "";
    var includeCategory = false;
    if (Model.Any()) includeCategory = Model.FirstOrDefault().CategoryName != null;

}

@{
    if (includeCategory)
    {
        <table class="table table-hover border table-fixed">
            <thead class="bg-color-blue">
                <tr>
                    <th class="text-truncate border" scope="col">Title</th>
                    <th class="text-truncate border" scope="col">Category</th>
                    <th class="text-truncate border" scope="col">Posted</th>
                    <th class="text-truncate border" scope="col">Likes</th>
                    <th class="text-truncate border" scope="col">Replies</th>
                    <th class="text-truncate border" scope="col">Author</th>
                    <th class="text-truncate border" scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (Model.Any())
                    {
                        foreach (var thread in Model)
                        {
                            avatar = String.IsNullOrWhiteSpace(thread.AuthorAvatarUrl) ? "https://image.flaticon.com/icons/png/512/64/64572.png" : thread.AuthorAvatarUrl;
                            if (userId == thread.AuthorId)
                            {
                                <tr class="table-info">
                                    <th class="border"><a asp-controller="Threads" asp-action="Read" asp-route-threadId="@thread.Id" class="d-block text-truncate mw-min-content">@thread.Title</a></th>
                                    <td class="text-truncate border"><a class="text-truncate" asp-controller="Categories" asp-action="Browse" asp-route-categoryId="@thread.CategoryId">@thread.CategoryName</a></td>
                                    <td class="text-truncate border">@thread.CreatedOn</td>
                                    <td class="border">@thread.Points</td>
                                    <td class="border">@thread.CommentCount</td>
                                    <td class="text-truncate border">
                                        <div class="d-inline media-img-30">
                                            <a onclick="viewProfile('@thread.AuthorId')">
                                                <img class="rounded-circle border" src="@avatar" />
                                                @thread.AuthorName
                                            </a>
                                        </div>
                                    </td>
                                    <td class="border">
                                        <div class="dropdown mw-min-content">
                                            <a class="dropdown-toggle media-img-30 btn btn-link layout-anchor" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-cog"></i> [options]</a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                <a asp-controller="Threads" asp-action="Report" asp-route-commentId="@thread.Id"><span class="dropdown-link-text"><i class="fas fa-flag"></i> Report</span></a></li>
                                                @{
                                                    if (userId == thread.AuthorId)
                                                    {
                                                        <li role="separator" class="dropdown-divider"></li>
                                                        <li><a onclick="editThreadInPopup('@thread.Id')"><span class="dropdown-link-text"><i class="fas fa-pencil-alt"></i> Edit</span></a></li>
                                                        <li><a onclick="deleteThreadInPopup('@thread.Id')"><span class="dropdown-link-text"><i class="fas fa-trash-alt"></i> Delete</span></a></li>
                                                    }
                                                }
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            }
                            else
                            {
                                 <tr class="table-secondary">
                                     <th class="border"><a asp-controller="Threads" asp-action="Read" asp-route-threadId="@thread.Id" class="d-block text-truncate mw-min-content">@thread.Title</a></th>
                                     <td class="text-truncate border"><a class="text-truncate" asp-controller="Categories" asp-action="Browse" asp-route-categoryId="@thread.CategoryId">@thread.CategoryName</a></td>
                                     <td class="text-truncate border">@thread.CreatedOn</td>
                                     <td class="border">@thread.Points</td>
                                     <td class="border">@thread.CommentCount</td>
                                     <td class="text-truncate border"><div class="d-inline media-img-30"><a class="text-truncate" onclick="viewProfile('@thread.AuthorId')"><img class="rounded-circle border" src="@thread.AuthorAvatarUrl" /> @thread.AuthorName</a></div></td>
                                     <td class="border">
                                         <div class="dropdown mw-min-content">
                                             <a class="dropdown-toggle media-img-30 btn btn-link layout-anchor" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-cog"></i> [options]</a>
                                             <ul class="dropdown-menu">
                                                 <li>
                                                     <a asp-controller="Threads" asp-action="Report" asp-route-commentId="@thread.Id"><span class="dropdown-link-text"><i class="fas fa-flag"></i> Report</span></a>
                                                 </li>
                                                 @{
                                                     if (userId == thread.AuthorId)
                                                     {
                                                         <li role="separator" class="dropdown-divider"></li>
                                                         <li><a onclick="editThreadInPopup('@thread.Id')"><span class="dropdown-link-text"><i class="fas fa-pencil-alt"></i> Edit</span></a></li>
                                                         <li><a onclick="deleteThreadInPopup('@thread.Id')"><span class="dropdown-link-text"><i class="fas fa-trash-alt"></i> Delete</span></a></li>
                                                     }
                                                 }
                                             </ul>
                                         </div>
                                     </td>
                                 </tr>
                            }
                        }
                    }
                }
            </tbody>
        </table>
    }
    else
    {
        <table class="table table-hover table-fixed">
            <thead class="bg-color-blue">
                <tr>
                    <th class="text-truncate border" scope="col">Title</th>
                    <th class="text-truncate border" scope="col">Posted</th>
                    <th class="text-truncate border" scope="col">Likes</th>
                    <th class="text-truncate border" scope="col">Replies</th>
                    <th class="text-truncate border" scope="col">Author</th>
                    <th class="text-truncate border" scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (Model.Any())
                    {
                        foreach (var thread in Model)
                        {
                            avatar = String.IsNullOrWhiteSpace(thread.AuthorAvatarUrl) ? "https://image.flaticon.com/icons/png/512/64/64572.png" : thread.AuthorAvatarUrl;
                            if (userId == thread.AuthorId)
                            {
                                <tr class="table-info">
                                    <th class="border"><a asp-controller="Threads" asp-action="Read" asp-route-threadId="@thread.Id" class="d-block text-truncate mw-min-content">@thread.Title</a></th>
                                    <td class="text-truncate border">@thread.CreatedOn</td>
                                    <td class="border">@thread.Points</td>
                                    <td class="border">@thread.CommentCount</td>
                                    <td class="text-truncate border">
                                        <div class="d-inline media-img-30">
                                            <a onclick="viewProfile('@thread.AuthorId')">
                                                <img class="rounded-circle border" src="@avatar" />
                                                @thread.AuthorName
                                            </a>
                                        </div>
                                    </td>
                                    <td class="border">
                                        <div class="dropdown mw-min-content">
                                            <a class="dropdown-toggle media-img-30 btn btn-link layout-anchor" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-cog"></i> [options]</a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a asp-controller="Threads" asp-action="Report" asp-route-commentId="@thread.Id"><span class="dropdown-link-text"><i class="fas fa-flag"></i> Report</span></a>
                                                </li>
                                                @{
                                                    if (userId == thread.AuthorId)
                                                    {
                                                        <li role="separator" class="dropdown-divider"></li>
                                                        <li><a onclick="editThreadInPopup('@thread.Id')"><span class="dropdown-link-text"><i class="fas fa-pencil-alt"></i> Edit</span></a></li>
                                                        <li><a onclick="deleteThreadInPopup('@thread.Id', '@thread.CategoryId')"><span class="dropdown-link-text"><i class="fas fa-trash-alt"></i> Delete</span></a></li>
                                                    }
                                                }
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr class="table-secondary">
                                    <th class="border"><a asp-controller="Threads" asp-action="Read" asp-route-threadId="@thread.Id" class="d-block text-truncate mw-min-content">@thread.Title</a></th>
                                    <td class="text-truncate border">@thread.CreatedOn</td>
                                    <td class="border">@thread.Points</td>
                                    <td class="border">@thread.CommentCount</td>
                                    <td class="text-truncate border">
                                        <div class="d-inline media-img-30">
                                            <a onclick="viewProfile('@thread.AuthorId')">
                                                <img class="rounded-circle border" src="@thread.AuthorAvatarUrl" />
                                                @thread.AuthorName
                                            </a>
                                        </div>
                                    </td>
                                    <td class="border">
                                        <div class="dropdown mw-min-content">
                                            <a class="dropdown-toggle media-img-30 btn btn-link layout-anchor" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-cog"></i> [options]</a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a asp-controller="Threads" asp-action="Report" asp-route-commentId="@thread.Id"><span class="dropdown-link-text"><i class="fas fa-flag"></i> Report</span></a>
                                                </li>
                                                @{
                                                    if (userId == thread.AuthorId)
                                                    {
                                                        <li role="separator" class="dropdown-divider"></li>
                                                        <li><a onclick="editThreadInPopup('@thread.Id')"><span class="dropdown-link-text"><i class="fas fa-pencil-alt"></i> Edit</span></a></li>
                                                        <li><a onclick="deleteThreadInPopup('@thread.Id', '@thread.CategoryId')"><span class="dropdown-link-text"><i class="fas fa-trash-alt"></i> Delete</span></a></li>
                                                    }
                                                }
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    }
                }
            </tbody>
        </table>
    }
}