@model CategoryBrowseModel
@{ 
    var user = await this.userManager.GetUserAsync(User);
}

@if (Model.Threads.Count() > 0)
{
    @foreach (var thread in Model.Threads)
    {
        var avatar = "";
        if (!String.IsNullOrWhiteSpace(thread.AuthorAvatarUrl)) avatar = thread.AuthorAvatarUrl;
        else avatar = "https://image.flaticon.com/icons/png/512/64/64572.png";

        <div class="card-body py-3">
            <div class="row no-gutters align-items-center">
                <div class="col shorting-40">
                    <div class="tooltip shorting">
                        <a asp-controller="Threads"
                           asp-action="Read"
                           asp-route-threadId="@thread.Id"
                           class="d-block text-truncate">@thread.Title</a>
                        <span class="tooltiptext">@thread.Title</span>
                    </div>
                </div>
                <div class="d-md-block col-6 align-end">
                    <div class="row no-gutters align-items-center">
                        <div class="col-3">
                            <div class="tooltip shorting">
                                @thread.Points
                                <span class="tooltiptext-sm">@thread.Points likes</span>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="tooltip shorting">
                                @thread.CommentCount
                                <span class="tooltiptext-sm">@thread.CommentCount replies</span>
                            </div>
                        </div>
                        <div class="media col-6 align-items-center">
                            <img src="@avatar" class="d-block ui-w-30 rounded-circle">
                            <div class="media-body flex-truncate ml-2">
                                <a onclick="viewProfile('@thread.AuthorId')" class="d-block text-truncate" data-abc="true">@thread.AuthorName</a>
                                <div class="text-muted small text-truncate">@thread.CreatedOn</div>
                            </div>
                                @{
                                    if (user != null)
                                    {
                                        if (user.Id == thread.AuthorId)
                                        {
                                            <div class="align-items-center ml-2 zoom d-inline thread-icon">
                                                <a onclick="editThreadInPopup('@thread.Id')"><i class="fas fa-lg fa-pencil-alt"></i></a>
                                            </div>
                                            <div class="align-items-center ml-3 zoom d-inline thread-icon">
                                                <a onclick="deleteThreadInPopup('@thread.Id')"><i class="fas fa-lg fa-trash-alt"></i></a>
                                            </div>
                                        }
                                    }
                                }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}