@model CategoryBrowseModel
@{ 
    var user = await this.userManager.GetUserAsync(User);
}

@if (Model.Threads.Count() > 0)
{
    @foreach (var thread in Model.Threads)
    {
        <div class="card-body py-3">
            <div class="row no-gutters align-items-center">
                <div class="col short">
                    <div class="tooltip shorting">
                        <a asp-controller="Threads"
                           asp-action="Read"
                           asp-route-threadId="@thread.Id"
                           class="d-block text-truncate">@thread.Title</a>
                        <span class="tooltiptext">@thread.Title</span>
                    </div>
                </div>
                <div class="d-none d-md-block col-6">
                    <div class="row no-gutters align-items-center">
                        <div class="col-3">
                            <div class="tooltip shorting ml-2">
                                @thread.Points
                                <span class="tooltiptext-sm">@thread.Points likes</span>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="tooltip shorting ml-2">
                                @thread.CommentCount
                                <span class="tooltiptext-sm">@thread.CommentCount replies</span>
                            </div>
                        </div>
                        <div class="media col-4 align-items-center ml-2">
                            <img src="@thread.AuthorAvatarUrl" alt="" class="d-block ui-w-30 rounded-circle">
                            <div class="media-body flex-truncate ml-2">
                                <a class="d-block text-truncate" data-abc="true">@thread.AuthorName</a>
                                <div class="text-muted small text-truncate">@thread.CreatedOn</div>
                            </div>
                            @{
                                if (user != null)
                                {
                                    if (user.Id == thread.AuthorId)
                                    {
                                        <div class="align-items-center ml-2 zoom">
                                            <a onclick="editThreadInPopup('@thread.Id')"><i class="fas fa-lg fa-pencil-alt"></i></a>
                                        </div>
                                        <div class="align-items-center ml-3 zoom">
                                            <a onclick="deleteThreadInPopup('@thread.Id')"><i class="fas fa-lg fa-trash-alt"></i></a>
                                        </div>
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}