@model CategoryBrowseModel
@{
    ViewBag.Title = Model.Name;
    var user = await this.userManager.GetUserAsync(User);
}

<div class="container-fluid">
    <div class="jumbotron">
        <h1 class="display-3 strokeme">@Model.Name</h1>
        <p class="lead">@Model.Description</p>
    </div>
    <a asp-controller="Threads" asp-action="Create" asp-route-categoryId="@Model.Id" type="button" class="btn btn-link">[Start Thread]</a>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-3">
                    <div class="card-header pr-0 pl-0">
                        <div class="row no-gutters align-items-center w-100">
                            <div class="col pl-3">
                                <a>[Title]</a>
                            </div>
                            <div class="d-none d-md-block col-6 text-muted">
                                <div class="row no-gutters align-items-center">
                                    <div class="col-3"><a>[Likes]</a></div>
                                    <div class="col-3"><a>[Replies]</a></div>
                                    <div class="col-6"><a>[Author]</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (Model.Threads.Count() > 0)
                    {
                        @foreach (var thread in Model.Threads)
                        {
                            <div class="card-body py-3">
                                <div class="row no-gutters align-items-center">
                                    <div class="col short">
                                        <div class="tooltip shorting">
                                            <a asp-controller="Threads"
                                               asp-action="Read"
                                               asp-route-threadId="@thread.Id"
                                               class="d-block text-truncate">@thread.Title</a>
                                            <span class="tooltiptext">@thread.Title</span>
                                        </div>
                                    </div>
                                    <div class="d-none d-md-block col-6">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-3">
                                                <div class="tooltip shorting">
                                                    @thread.Points
                                                    <span class="tooltiptext-sm">@thread.Points likes</span>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="tooltip shorting">
                                                    @thread.CommentCount
                                                    <span class="tooltiptext-sm">@thread.CommentCount replies</span>
                                                </div>
                                            </div>
                                            <div class="media col-6 align-items-center">
                                                <img src="@thread.AuthorAvatarUrl" alt="" class="d-block ui-w-30 rounded-circle">
                                                <div class="media-body flex-truncate ml-2">
                                                    <a class="d-block text-truncate" data-abc="true">@thread.AuthorName</a>
                                                    <div class="text-muted small text-truncate">@thread.CreatedOn</div>
                                                </div>
                                                @{
                                                    if (user != null)
                                                    {
                                                        if (user.Id == thread.AuthorId)
                                                        {
                                                            <div class="tooltip media-img-30 align-items-center ml-2 zoom">
                                                                <a asp-controller="Threads" asp-action="Edit" asp-route-threadId="@thread.Id">
                                                                    <img src="https://image.flaticon.com/icons/png/512/1057/1057097.png" alt="">
                                                                </a>
                                                                <span class="tooltiptext-sm">Edit</span>
                                                            </div>
                                                            <div class="tooltip media-img-30 align-items-center ml-3 zoom">
                                                                <a asp-controller="Threads" asp-action="Delete" asp-route-threadId="@thread.Id">
                                                                    <img src="https://image.flaticon.com/icons/png/512/1057/1057126.png" alt="">
                                                                </a>
                                                                <span class="tooltiptext-sm">Delete</span>
                                                            </div>
                                                        }
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>