@model StatisticsViewModel

<table class="table table-hover table-fixed w-100 separate-border">
    <tbody>
        <tr>
            <td class="border-black dark-stripes text-center p-5">
                <h2><a class="btn-link">ADVERTISE HERE</a></h2>
            </td>
        </tr>
        <tr>
            <td class="border-black gray-stripes">
                <h3 class="pt-2 text-center">Top Stories Of The Week</h3>
                <hr class="w-75" />
                <ul class="list-group list-group-flusht">
                    @{
                        foreach (var thread in Model.Stories)
                        {
                            var iconClass = thread.ThreadTypeId == 1 ? "fa-book" : "fa-lightbulb-on";
                            <li class="list-group-item bg-transparent">
                                <div class="row w-100 mr-auto ml-auto">
                                    <div class="col-9 pl-0 pr-0">
                                        <a class="btn-link text-break" asp-controller="threads" asp-action="read" asp-route-t="@thread.Id">@thread.Title</a>
                                        <br />
                                        <span class="text-muted">by <a class="btn-link text-muted" onclick="popUp('/Users/Peek/','peek-profile', null, '@thread.AuthorName')">@thread.AuthorName</a></span>
                                    </div>
                                    <div class="col pl-0 pr-0">
                                        <i class="fas fa-heart text-danger"></i><span class="text-muted"> @thread.Points</span><br />
                                        <i class="fas fa-comment-alt text-dark"></i><span class="text-muted"> @thread.CommentCount</span>
                                    </div>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </td>
        </tr>
        <tr>
            <td class="border-black gray-stripes">
                <h3 class="pt-2 text-center">Top Poems Of The Week</h3>
                <hr class="w-75" />
                <ul class="list-group list-group-flusht">
                    @{
                        foreach (var thread in Model.Poems)
                        {
                            //comment
                            <li class="list-group-item bg-transparent">
                                <div class="row w-100 mr-auto ml-auto">
                                    <div class="col-9 pl-0 pr-0">
                                        <a class="btn-link text-break" asp-controller="threads" asp-action="read" asp-route-t="@thread.Id">@thread.Title</a>
                                        <br />
                                        <span class="text-muted">by <a class="btn-link text-muted" onclick="popUp('/Users/Peek/','peek-profile', null, '@thread.AuthorName')">@thread.AuthorName</a></span>
                                    </div>
                                    <div class="col pl-0 pr-0">
                                        <i class="fas fa-heart text-danger"></i><span class="text-muted"> @thread.Points</span><br />
                                        <i class="fas fa-comment-alt text-dark"></i><span class="text-muted"> @thread.CommentCount</span>
                                    </div>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </td>
        </tr>
    </tbody>
</table>
