<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 4drafts</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="layout-logo" src="https://i.imgur.com/7pLHF2D.png" alt="PrimalPhobias Logo" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @*navbar items here*@
                    </ul>
                </div>
                <div class="layout-profile" align="right">
                    @{
                        if (!User.Identity.IsAuthenticated)
                        {
                            <a asp-controller="Users" asp-action="Login" class="media-img-40 layout-anchor">
                                <img src="https://i.imgur.com/Q67mO1m.png" alt="user avatar" class="rounded-circle" />
                                <span>Register/Login</span>
                            </a>
                        }
                        else
                        {
                            <a asp-controller="Users" asp-action="View" asp-route-profile="@User.Identity.Name" class="media-img-40 layout-anchor">
                                <img src="https://i.imgur.com/pvUS8zx.png" alt="user avatar" class="rounded-circle" />
                                <span>@User.Identity.Name</span>
                            </a>
                            <a asp-controller="Users" asp-action="Logout" class="layout-anchor">
                                <img src="https://i.imgur.com/gH4GBET.png" alt="logout icon" class="rounded-circle" />
                                <span>Logout</span>
                            </a>
                        }
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.UtcNow.Year - 4drafts
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
