@model UserViewModel
@{
    ViewBag.Title = "Browse Profile";
    var user = await this.userManager.GetUserAsync(this.User);
    var userId = user == null ? null : user.Id;
    var avatar = String.IsNullOrWhiteSpace(Model.AvatarUrl) ? "https://image.flaticon.com/icons/png/512/64/64572.png" : Model.AvatarUrl;
    var ownAccount = userId == Model.Id;
}
<div class="container">
    <div class="main-body">
        <div class="row">
            <div class="col-4">
                <div class="card border">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center user-heading">
                            <img src="@avatar" class="rounded-circle" width="110">
                            <div class="mt-3">
                                <h4>@Model.Username</h4>
                                <span class="text-secondary mb-1">@Model.Email</span><br />
                                <span class="text-muted font-size-sm">Member since @Model.RegisteredOn</span><br />
                                <span class="badge bg-info">new user</span><br />
                                @if (ownAccount)
                                {
                                    <div class="mt-3">
                                        <button type="button"
                                                class="btn btn-outline-primary"
                                                align="center"
                                                onclick="editAccountInPopup()">
                                            <i class="fas fa-pencil-alt"></i> Edit
                                        </button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border mt-2">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><i class="fas fa-2x fa-star big-icon"></i> Points:</h6>
                            <span class="text-secondary">118</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><i class="fas fa-2x fa-medal big-icon"></i> Awards:</h6>
                            <span class="text-secondary">7</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><i class="fas fa-2x fa-box big-icon"></i> Total threads:</h6>
                            <span class="text-secondary">@Model.ThreadCount</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><i class="fas fa-2x fa-box-open big-icon"></i> Active threads:</h6>
                            <span class="text-secondary">@Model.ThreadCount</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><i class="fas fa-2x fa-comments big-icon"></i> Total comments:</h6>
                            <span class="text-secondary">@Model.CommentCount</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><i class="fas fa-2x fa-comment big-icon"></i> Active comments:</h6>
                            <span class="text-secondary">@Model.CommentCount</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col card border">
                <div class="card-body row">
                    <div class="col">
                        <h4 align="center"><i class="fas fa-user-tie"></i> About</h4>
                        <hr />
                        <ul class="list-group">
                            <li class="list-group-item"><h5 class="mt-2">First name: <span class="text-muted">&nbsp; @Model.FirstName</span></h5></li>
                            <li class="list-group-item"><h5 class="mt-2">Last name: <span class="text-muted">&nbsp; @Model.LastName</span></h5></li>
                            <li class="list-group-item"><h5 class="mt-2">Age: <span class="text-muted">&nbsp; @Model.Age</span></h5></li>
                            <li class="list-group-item"><h5 class="mt-2">Gender: <span class="text-muted">&nbsp; @Model.Gender</span></h5></li>
                            <li class="list-group-item"><h5 class="mt-2">Occupation: <span class="text-muted">&nbsp; @Model.Occupation</span></h5></li>
                            <li class="list-group-item"><h5 class="mt-2 d-inline" style="word-break: break-word;">About me: <span class="text-muted">&nbsp; @Model.AboutMe</span></h5></li>
                        </ul>
                    </div>
                    <div class="col">
                        <h4 align="center"><i class="fas fa-link"></i> Links</h4>
                        <hr />
                        <ul class="list-group">
                            <li class="list-group-item"><h5 class="mt-2"><i class="fas fa-globe fa-lg big-icon"></i> Website: <span class="text-muted">&nbsp; @Model.Website</span></h5></li>
                            <li class="list-group-item"><h5 class="mt-2"><i class="fab fa-discord fa-lg big-icon"></i> Discord: <span class="text-muted">&nbsp; @Model.Discord</span></h5></li>
                            <li class="list-group-item"><h5 class="mt-2"><i class="fab fa-twitter fa-lg big-icon"></i> Twitter: <span class="text-muted">&nbsp; @Model.Twitter</span></h5></li>
                            <li class="list-group-item"><h5 class="mt-2"><i class="fab fa-instagram fa-lg big-icon"></i> Instagram: <span class="text-muted">&nbsp; @Model.Instagram</span></h5></li>
                            <li class="list-group-item"><h5 class="mt-2"><i class="fab fa-facebook fa-lg big-icon"></i> Facebook: <span class="text-muted">&nbsp; @Model.Facebook</span></h5></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

