@model UserViewModel
@{
    ViewBag.Title = Model.Username;
    var user = await this.userManager.GetUserAsync(this.User);
    var userId = user == null ? null : user.Id;
    var avatar = String.IsNullOrWhiteSpace(Model.AvatarUrl) ? "https://image.flaticon.com/icons/png/512/64/64572.png" : Model.AvatarUrl;
    var ownAccount = userId == Model.Id;
    string Class(string prop)
    {
        return prop == null ? "d-none" : "";
    }
}

<div class="container-fluid">
    <div class="card">
        <div class="card-body gray-stripes border-black">
            <div class="wrapper float-right pb-2">
                <a href="@Model.Website" class="icon github border-black @Class(Model.Website)">
                    <div class="tooltip">@Model.Website</div>
                    <span><i class="fal fa-globe"></i></span>
                </a>
                <a href="@Model.Instagram" class="icon instagram border-black @Class(Model.Instagram)">
                    <div class="tooltip">@Model.Instagram</div>
                    <span><i class="fab fa-instagram"></i></span>
                </a>
                <a href="@Model.Twitter" class="icon twitter border-black @Class(Model.Twitter)">
                    <div class="tooltip">@Model.Twitter</div>
                    <span><i class="fab fa-twitter"></i></span>
                </a>
                <a href="@Model.Facebook" class="icon facebook border-black @Class(Model.Facebook)">
                    <div class="tooltip">@Model.Facebook</div>
                    <span><i class="fab fa-facebook-f"></i></span>
                </a>
                <a href="@Model.Youtube" class="icon youtube border-black @Class(Model.Youtube)">
                    <div class="tooltip">@Model.Youtube</div>
                    <span><i class="fab fa-youtube"></i></span>
                </a>
                <a href="@Model.Patreon" class="icon patreon border-black @Class(Model.Patreon)">
                    <div class="tooltip">@Model.Patreon</div>
                    <span><i class="fab fa-patreon"></i></span>
                </a>
            </div>
            <div class="float-left ml-1 text-center">
                <div class="dropdown">
                    <a title="start thread" class="btn-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fal fa-cog"></i><span> [OPTIONS]</span></a>
                    <div class="dropdown-menu">
                        @{
                            if (ownAccount)
                            {
                                <a onclick="popUp('/Users/Manage/', 'account-manage')" class="btn-link dropdown-item" role="button"><i class="fal fa-user-cog"></i> [MANAGE]</a>
                            }
                            else
                            {
                                <a class="btn-link dropdown-item" role="button"><i class="fal fa-comment-alt-lines"></i> [MESSAGE]</a>
                                <a class="btn-link dropdown-item" role="button"><i class="fal fa-ban"></i> [BLOCK]</a>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="w-25 mr-auto ml-auto text-center">
                <h4>@Model.Username</h4>
            </div>
            <table class="table mt-3 separate-border">
                <tbody>
                    <tr>
                        <th colspan="2" class="border-black text-center bg-tablehead-gray">
                            <i class="fal fa-info"></i> Information
                        </th>
                    </tr>
                    <tr>
                        <th class="border-black w-15" scope="row"><i class="fal fa-image"></i> Avatar</th>
                        <td class="border-black"><img class="mw-250" src="@avatar"></td>
                    </tr>
                    <tr>
                        <th class="border-black w-15" scope="row"><i class="fal fa-envelope"></i> Email</th>
                        <td class="border-black">@Model.Email</td>
                    </tr>
                    <tr>
                        <th class="border-black w-15" scope="row">Member since</th>
                        <td class="border-black">@Model.RegisteredOn</td>
                    </tr>
                    <tr>
                        <th class="border-black w-15" scope="row">First name</th>
                        <td class="border-black">@Model.FirstName</td>
                    </tr>
                    <tr>
                        <th class="border-black w-15" scope="row">Last name</th>
                        <td class="border-black">@Model.LastName</td>
                    </tr>
                    <tr>
                        <th class="border-black w-15" scope="row">Age</th>
                        <td class="border-black">@Model.Age</td>
                    </tr>
                    <tr>
                        <th class="border-black w-15" scope="row">Gender</th>
                        <td class="border-black">@Model.Gender</td>
                    </tr>
                    <tr>
                        <th class="border-black w-15" scope="row">Occupation</th>
                        <td class="border-black">@Model.Occupation</td>
                    </tr>
                    <tr>
                        <th class="border-black w-15" scope="row">About me</th>
                        <td class="border-black">@Model.AboutMe</td>
                    </tr>
                    <tr>
                        <th colspan="2" class="border-black text-center bg-tablehead-gray">
                            <i class="fal fa-trophy"></i> Statistics
                        </th>
                    </tr>
                    <tr>
                        <th class="border-black w-15" scope="row"><i class="fal fa-star"></i> Points</th>
                        <td class="border-black">@Model.Points</td>
                    </tr>
                    <tr>
                        <th class="border-black w-15" scope="row"><i class="fal fa-medal"></i> Awards</th>
                        <td class="border-black">11</td>
                    </tr>
                    <tr>
                        <th class="border-black w-15" scope="row"><i class="fal fa-books"></i> Threads</th>
                        <td class="border-black">@Model.ThreadCount</td>
                    </tr>
                    <tr>
                        <th class="border-black w-15" scope="row"><i class="fal fa-comments-alt"></i> Comments</th>
                        <td class="border-black">@Model.CommentCount</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

