@model UserViewModel

@{
    ViewBag.Title = "Profile";
    var user = await this.userManager.GetUserAsync(User);
    Layout = null;
}

    <div class="container-fluid">
        <div class="col" align="center">
            <div class="profile-info col">
                <div class="card">
                    <div class="bio-graph-heading">
                        <div class="user-heading round">
                            <a>
                                <img src="@Model.AvatarUrl" alt="">
                            </a>
                            <h1>@Model.Username</h1>
                            <span><i class="fas fa-envelope"></i> @Model.Email</span>
                            <p>Member since @Model.RegisteredOn</p>
                            <div><span class="badge bg-info">total threads: @Model.ThreadCount</span> &nbsp; <span class="badge bg-info">total comments: @Model.CommentCount</span></div>
                        </div>
                    </div>
                    <div class="card-body bio-graph-info text-left">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        About
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
                                    <div class="accordion-body">
                                        <ul class="list-group">
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                <div>
                                                    <span class="text-muted">First name: &nbsp; </span><p class="d-inline">@Model.FirstName</p>
                                                </div>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                <div>
                                                    <span class="text-muted">Last name: &nbsp; </span><p class="d-inline">@Model.LastName</p>
                                                </div>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                <div>
                                                    <span class="text-muted">Gender: &nbsp; </span><p class="d-inline">@Model.Gender</p>
                                                </div>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                <div>
                                                    <span class="text-muted">About me: &nbsp; </span><p class="d-inline">@Model.AboutMe</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Links
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <ul class="list-group">
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                <div>
                                                    <span class="text-muted"><i class="fas fa-globe"></i> Website: &nbsp; </span><p class="d-inline">@Model.Website</p>
                                                </div>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                <div>
                                                    <span class="text-muted"><i class="fab fa-github"></i> Github: &nbsp; </span><p class="d-inline">@Model.Github</p>
                                                </div>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                <div>
                                                    <span class="text-muted"><i class="fab fa-twitter"></i> Twitter: &nbsp; </span><p class="d-inline">@Model.Twitter</p>
                                                </div>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                <div>
                                                    <span class="text-muted"><i class="fab fa-instagram"></i> Instagram: &nbsp; </span><p class="d-inline">@Model.Instagram</p>
                                                </div>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                <div>
                                                    <span class="text-muted"><i class="fab fa-facebook"></i> Facebook: &nbsp; </span><p class="d-inline">@Model.Facebook</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
