@model PaginatedList<ThreadsBrowseModel>
@{
    var user = await this.userManager.GetUserAsync(User);
    var userId = user == null ? null : user.Id;
    var avatar = "";
    var type = Model.ThreadSwitch == "mine" ? "My Threads" : "Liked Threads";
    ViewBag.Title = type;
    var heart = "";
}
<div class="container-fluid">
    <div class="row">
        <div class="col pl-0 pr-1 pb-0 pt-0">
            <table class="table table-hover separate-border">
                <tbody class="gray-stripes">
                    @{ if (Model.Any())
                        {
                            foreach (var thread in Model)
                            {
                                heart = thread.Liked ? "fas text-danger" : "far";
                                avatar = String.IsNullOrWhiteSpace(thread.AuthorAvatarUrl) ? "https://image.flaticon.com/icons/png/512/64/64572.png" : thread.AuthorAvatarUrl;
                                switch (thread.ThreadTypeId)
                                {
                                    case 1:
                                        {
                                            <tr>
                                                <td class="border-black p-0">
                                                    <div class="pt-3 pl-3 pr-3">
                                                        <span class="text-muted mr-1">Posted by <a class="btn-link text-muted" onclick="popUp('/Users/Peek/','peek-profile', null, '@thread.AuthorName')">@thread.AuthorName</a> <i class="fas fa-caret-right"></i> <a tabindex="0" data-placement="top" role="button" data-toggle="popover" data-trigger="focus" data-content="@thread.FullDate" class="btn-link text-muted">@thread.CreatedOn</a></span>
                                                        @if (thread.Genres != null)
                                                        {
                                                            foreach (var genre in thread.Genres)
                                                            {
                                                                <a tabindex="0" class="badge badge-secondary border-black" data-placement="top" role="button" data-toggle="popover" data-trigger="focus" data-content="@genre.Description">@genre.Name</a>
                                                            }
                                                        }
                                                    </div>
                                                    <hr />
                                                    <div class="pb-2 pt-2 pl-3 pr-3">
                                                        <span class="badge-pill badge-info">STORY</span>
                                                        <a class="btn-link d-inline" asp-controller="Threads" asp-action="Read" asp-route-t="@thread.Id">
                                                            @thread.Title
                                                        </a>
                                                    </div>
                                                    <hr />
                                                    <div class="pb-3 pl-3 pr-3">
                                                        <a onclick="likeThread('@thread.Id', true)" class="btn-link"><i id="heart@(thread.Id)" class="@heart fa-lg fa-heart"></i></a><span> @thread.Points</span>&nbsp;&nbsp;
                                                        <a asp-controller="Threads" asp-action="Read" asp-route-t="@thread.Id" class="btn-link"><i class="far fa-lg fa-comment-alt"></i></a><span> @thread.CommentCount</span>&nbsp;&nbsp;
                                                        <a class="btn-link"><i class="fas fa-lg fa-share-alt"></i> Share</a>&nbsp;&nbsp;
                                                        <a class="btn-link"><i class="fas fa-lg fa-flag"></i> Report</a>&nbsp;&nbsp;
                                                    </div>
                                                </td>
                                            </tr>
                                            break;
                                        }
                                    case 2:
                                        {
                                            <tr>
                                                <td class="border-black p-0">
                                                    <div class="pt-3 pl-3 pr-3">
                                                        <span class="text-muted mr-1">Posted by <a class="btn-link text-muted" onclick="popUp('/Users/Peek/','peek-profile', null, '@thread.AuthorName')">@thread.AuthorName</a> <i class="fas fa-caret-right"></i> <a tabindex="0" data-placement="top" role="button" data-toggle="popover" data-trigger="focus" data-content="@thread.FullDate" class="btn-link text-muted">@thread.CreatedOn</a></span>
                                                        @if (thread.Genres != null)
                                                        {
                                                            foreach (var genre in thread.Genres)
                                                            {
                                                                <a tabindex="0" class="badge badge-secondary border-black" data-placement="top" role="button" data-toggle="popover" data-trigger="focus" data-content="@genre.Description">@genre.Name</a>
                                                            }
                                                        }
                                                    </div>
                                                    <hr />
                                                    <div class="pb-2 pt-2 pl-3 pr-3">
                                                        <span class="badge-pill badge-info">POEM</span>
                                                        <a class="btn-link d-inline" asp-controller="Threads" asp-action="Read" asp-route-t="@thread.Id">
                                                            @thread.Title
                                                        </a>
                                                    </div>
                                                    <hr />
                                                    <div class="pb-3 pl-3 pr-3">
                                                        <a onclick="likeThread('@thread.Id', true)" class="btn-link"><i id="heart@(thread.Id)" class="@heart fa-lg fa-heart"></i></a><span> @thread.Points</span>&nbsp;&nbsp;
                                                        <a asp-controller="Threads" asp-action="Read" asp-route-t="@thread.Id" class="btn-link"><i class="far fa-lg fa-comment-alt"></i></a><span> @thread.CommentCount</span>&nbsp;&nbsp;
                                                        <a class="btn-link"><i class="fas fa-lg fa-share-alt"></i> Share</a>&nbsp;&nbsp;
                                                        <a class="btn-link"><i class="fas fa-lg fa-flag"></i> Report</a>&nbsp;&nbsp;
                                                    </div>
                                                </td>
                                            </tr>
                                            break;
                                        }
                                    default:
                                        break;
                                }
                            }
                        }
                        else
                        {
                            <tr>
                                <td class="border-black text-center">
                                    <h4 class="p-3 mt-auto mb-auto">Looks like there's no results...</h4>
                                </td>
                            </tr>
                        }

                    }
                </tbody>
            </table>
            @{
                var prevDisabled = !Model.PreviousPage ? "disabled" : "";
                var nextDisabled = !Model.NextPage ? "disabled" : "";
            }
            <div class="container w-100">
                <div class="text-center">
                    <a asp-controller="users" asp-action="threads" asp-route-t="@type" asp-route-page="1"
                       class="btn btn-sm btn-secondary @prevDisabled">
                        <i class="fas fa-angle-double-left"></i>
                    </a>
                    <a asp-controller="users" asp-action="threads" asp-route-t="@type" asp-route-page="@(Model.PageIndex - 1)"
                       class="btn btn-sm btn-secondary @prevDisabled">
                        <i class="fas fa-angle-left"></i>
                    </a>

                    @{
                        for (int i = 1; i <= Model.TotalPages; i++)
                        {
                            if (i == Model.PageIndex)
                            {
                                <a class="btn btn-secondary disabled">@i</a>
                            }
                            else
                            {
                                <a asp-controller="users" asp-action="threads" asp-route-t="@type" asp-route-page="@i" class="btn btn-sm btn-secondary">
                                    @i
                                </a>
                            }
                        }
                    }
                    <a asp-controller="users" asp-action="threads" asp-route-t="@type" asp-route-page="@(Model.PageIndex + 1)"
                       class="btn btn-sm btn-secondary @nextDisabled">
                        <i class="fas fa-angle-right"></i>
                    </a>
                    <a asp-controller="users" asp-action="threads" asp-route-t="@type" asp-route-page="@Model.TotalPages"
                       class="btn btn-sm btn-secondary @nextDisabled">
                        <i class="fas fa-angle-double-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-4 pl-1 pr-0 pb-0 pt-0 sidebar">
            @await Component.InvokeAsync("Sideview")
        </div>
    </div>
</div>
